body{
  background-color: #7c00ee;
  color: aliceblue;
  font-family: roboto;
}

.card{
  color: black;
  width: 120%;
  font-size: 1rem;
}
.cardtitle{
  font-size: 1.6rem;
  color: #9d27f2;
}

.buttonW{
  width: "100px" !important;
  height: "30px" !important;
}

input {
  background-color: none;

}